In [ ]:
print('체인점 펼친 식당 : {}, 그것의 개수 : {}, 서로 다른 체인점 : {}'.format(i, j, k))
print(f'지역 {i} 개수')

# basic
# ''문구 안에 {} 이렇게 n개 놓으면, ''뒤에 .format(a, b, c, ...)을 붙여줘야 하는데, a, b, c, ...개수가 n과 같아야 한다.
# ''앞에 f 붙인 뒤, ''안에 {x} 이렇게 놓으면 x라는 변수가 print되는데, 위와 다른 점은 {}안에 미리 지정해 둔 변수 이름을 넣어야 한다.

In [ ]:
sorted(eda_df['AI산출점수'].unique())

# basic
# eda_df['AI산출점수'].unique()와 같이 type이 반드시 list가 되어야 한다. list 내에 있는 값을 sort해준다.

In [1]:
print(16 % 3)
print(22 % 5)
print(138 % 2)

# basic
# (n % m)이라고 하면 n을 m으로 나누었을 때 생기는 나머지를 나타낸다.

1
2
0

In [2]:
A = [1, 2, 3, 4]
B = (1, 2, 3, 4)
print(sum(A))
print(sum(B))

# basic
# sum(A)라고 하면 A 안의 모든 원소의 합을 제공한다.

10
10

In [3]:
A = [1, 2, 3, 4]
B = (1, 2, 3, 4)
print(len(A))
print(len(B))

# basic
# len(A)라고 하면 A의 길이/크기를 나타낸다.

4
4

In [4]:
print(52 * 3)
print(25 * 5)
print(5 ** 4)
print(2 ** 7)

# basic
# (a * b)는 a 곱하기 b이고, (a ** b)는 a의 b제곱이다.

156
125
625
128

In [5]:
print(15 // 4)
print(38 // 3)
print(15 / 4)
print(38 / 3)

# basic
# (a // b)는 a를 b로 나눴을 때의 몫이고, (a / b)는 a를 b로 나눈 값을 정수가 되든, 소수가 되든 날 것으로 제공한다.

3
12
3.75
12.666666666666666

In [6]:
for i in range(6):
    print(i)
for i in range(5, 12):
    print(i)
for i in ['I','N','u']:
    print(i)
for i in 'KGU':
    print(i)
    
# basic
# range(6)은 i를 0부터 5까지 돌려보라는 의미, range(5, 12)는 i를 5부터 11까지 돌려보라는 의미,
# ['I','N','u']는 i를 'I','N','u'순으로 돌려보라는 의미, 'KGU'는 i를 'K','G','U'순으로 돌려보라는 의미

0
1
2
3
4
5
5
6
7
8
9
10
11
I
N
u
K
G
U

In [7]:
for i, j in zip([1,2,3,4], [10,20,30,40]):
    print(i, j)
for i, j in zip([1,2,3,4], [10,20,30,40,50,60,70]):
    print(i, j)
for i, j in zip([1,2,3,4,5,6,7], [10,20,30,40,50]):
    print(i, j)
    
# basic
# zip을 for로 감싼다면 i와 j는 [1,2,3,4]와 [10,20,30,40]을 동시에 돌린다. 1번째와 1번째/2번째와 2번째/.../k번째와 k번째 방식이다.
# zip 안에 크기가 다른 게 들어오면 그 중 작은 크기 기준이 된다. 작은 게 k라면, 큰 것에서 k+1번째부터의 원소는 볼 수 없게 된다.

1 10
2 20
3 30
4 40
1 10
2 20
3 30
4 40
1 10
2 20
3 30
4 40
5 50

In [8]:
A = [3, 1, 2, 5, 4, 6, 7, 9]
print(A[3])
print(A[0])
print(A[-1])
print(A[-4])

# basic
# A[3]이면 A라는 것 중에서 4번째 원소를 뽑는 거, A[0]면 A에서 1번째 원소 뽑는다.
# A[-1]이면 A 원소 중 가장 뒤에 거를 뽑고, A[-4]면 A 원소 중 뒤에서 4번째 거를 가져온다.

5
3
9
4

In [9]:
T = [[3,5,8], [2,6,8], [1,9,9]]
print(T[2][2])
print(T[0])
print(T[1][0])

# basic
# T[2][2]는 3번째 원소를 뽑은 뒤, 그 원소 안에서 3번째 원소를 뽑는다.

9
[3, 5, 8]
2

In [10]:
P = [1, 9, 10, 3, 4, 6, 7, 8, 8]
print(P[1:5])
print(P[:4])
print(P[6:])

# basic
# P[1:5]는 P에서 2번째부터 5번째 원소까지 긁어온다.
# P[:4]는 P에서 처음부터 4번째 원소까지 긁어온다.
# P[6:]은 P에서 7번째부터 끝까지 긁어온다.

[9, 10, 3, 4]
[1, 9, 10, 3]
[7, 8, 8]

In [11]:
M = [5,2,6,3]
M.append(4)
print(M)

# basic
# M.append(4)를 하면 M의 가장 오른쪽, 3 옆에 4를 추가

[5, 2, 6, 3, 4]

In [12]:
N = [4,5,6,7,8,9]
del N[3]
print(N)
U = [9,8,7,6,5]
del U[0]
print(U)

# basic
# del N[3]은 N에서 4번째 원소를 제거한다. del U[0]은 U에서 1번째 원소를 제거한다.

[4, 5, 6, 8, 9]
[8, 7, 6, 5]

In [13]:
U = [1,1,1,3,3,3,9,9,9,5,9,9,9]
U.remove(9)
print(U)

# basic
# U.remove(9)는 U에서 원소 9를 한 개 지운다. 이 때 지우는 9는 가장 왼쪽의 것이다.

[1, 1, 1, 3, 3, 3, 9, 9, 5, 9, 9, 9]

In [14]:
I = [4,4,4,5,5,6,6,6,7,7]
print(I.count(4))
print(I.count(0))

# basic
# I.count(4)는 I에서 4의 개수를 구한다. I.count(0)처럼 I에 0이 없다면 0을 반환한다.

3
0

In [15]:
for i in range(3, 27, 4):
    print(i)
    
# basic
# range(3, 27, 4)는 3부터 26까지인데 3, 7, 11, ...처럼 4씩 커지게 하는 규칙을 가진다.

3
7
11
15
19
23

In [16]:
A = [6,2,8,5,2,6,8,9,4,45]
B = ['abc','efd','ef','tht','sfp','fsc']
print(sorted(A))
print(sorted(B))

# basic
# sorted(A)는 안에 있는 숫자를 오름차순으로 정리한다. sorted(B)처럼 문자열에도 가능하다.

[2, 2, 4, 5, 6, 6, 8, 8, 9, 45]
['abc', 'ef', 'efd', 'fsc', 'sfp', 'tht']

In [17]:
Z = 'apperlaned'
P = 'WIIEEKKCC'
T = 'uriEJFEF'
print(Z.upper())
print(P.lower())
print(T.capitalize())

# basic
# Z.upper()는 Z에 있는 모든 소문자 알파벳을 대문자로 바꾼다. P.lower()는 P에 있는 모든 대문자 알파벳을 소문자로 바꾼다.
# T.capitalize()는 알파벳으로 이루어진 단어 T의 맨 앞 글자를 대문자로 바꾼다.

APPERLANED
wiieekkcc
Uriejfef

In [18]:
Q = 'yeardreamschool'
print(Q.endswith('ool'))
print(Q.endswith('cool'))
print(Q.startswith('year'))
print(Q.startswith('years'))

# basic
# Q.endswith('ool')은 문자열 Q가 'ool'로 끝난다면 True, 아니면 False를 반환한다.
# Q.startswith('years')는 문자열 Q가 'years'로 끝난다면 True, 아니면 False를 반환한다.

True
False
True
False

In [19]:
Y = 'incheon$national$university'
print(Y.split('$'))
print(Y.split('ㄱ'))

# basic
# Y.split('$')는 문자열 Y에 '$'라는 게 있다면 우선 '$'는 없어지고, '$' 기준으로 문자열을 나누면 'incheon','national','university' 된다.
# 문자열 Y에 'ㄱ'이 없다면 문자열 Y는 그대로 유지된다.

['incheon', 'national', 'university']
['incheon$national$university']

In [20]:
R = 'player1player2'
print(R.replace('p','T'))
print(R.replace('Y','야'))

# basic
# R.replace('p','T')는 문자열 R에 있는 모든 'p'를 'T'로 바꿔준다. R에 없는 'Y'를 적용하면 변하지 않는다.

Tlayer1Tlayer2
player1player2

In [21]:
B = ' year dream school '
K = 'aababababbbbbbaa'
print('p' + B.rstrip() + 'p')
print('p' + B.lstrip() + 'p')
print('p' + B.strip() + 'p')
print(K.rstrip('a'))
print(K.lstrip('a'))
print(K.strip('a'))

# basic
# B.rstrip()은 문자열의 오른쪽 끝에 공백이 있다면 제거한다. B.lstrip()은 문자열의 왼쪽 끝에 공백이 있다면 제거한다.
# B.strip()은 문자열의 양쪽 끝에 공백이 있다면 제거한다.
# K.rstrip('a')는 문자열의 오른쪽 끝부터 'a'가 아닐 때까지 모든 'a'를 제거한다.
# K.lstrip('a')는 문자열의 왼쪽 끝부터 'a'가 아닐 때까지 모든 'a'를 제거한다.
# K.strip('a')는 문자열의 양쪽 끝에서 시작해서 'a'가 아닐 때까지 모든 'a'를 제거한다.

p year dream schoolp
pyear dream school p
pyear dream schoolp
aababababbbbbb
babababbbbbbaa
babababbbbbb

In [22]:
S = 'players'
if 'p' in S:
    print(1)
else:
    print(0)
if 't' in S:
    print(1)
else:
    print(0)
    
# basic
# (if 'p' in S)는 S 안에 'p'가 있는지를 검사한다.

1
0

In [23]:
G = [5,5,1,1,5,5,5,5,5]
print(G.index(5))
print(G.index(1))

# basic
# G.index(5)는 G에 있는 원소 5 중에서 가장 왼쪽에 있는 것의 순서가 몇 번째인지 알려준다.

0
2

In [24]:
print(round(12.88))
print(round(15.02))

# basic
# round(12.88)는 12.88 반올림하면 13, round(15.02)는 15.02 반올림하면 15

13
15

In [25]:
print('강한친구 대한육군\n강한친구 대한육군')

# basic
# print()내부에 \n을 넣으면 그것 기준으로 줄바꿈한다.

강한친구 대한육군
강한친구 대한육군

In [26]:
a, b, c = map(int, input().split())
print(c, b, a)

# basic
# map(int, input().split())하면 여러 변수를 한번에 input할 수 있다.

5 46 3777
3777 46 5

In [27]:
A = list(map(int,input().split()))
print(A)

# basic
# list(map(int,input().split()))하면 여러 변수를 input했을 때 그것이 자동으로 list형태가 된다.

5 6 7 8 7 6 5
[5, 6, 7, 8, 7, 6, 5]